<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net452" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net452" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net452" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net452" />
  <package id="Steam.Models" version="1.0.0.39" targetFramework="net452" />
  <package id="SteamKit2" version="1.8.0" targetFramework="net452" />
</packages>